extends layout

block content

  h1 ND-Zoom, a place for Notre Dame Buildings to meet.
  .topnav
    button#ndButton Notre Dame
    button#debartButton Debart
    button#domeButton Dome
    button#fitzCushingButton Fitzpatrick Cushing
    button#stinRemButton Stinson-Remick 
    button#zoomButton ZoomTime
    button#mapButton Map
    button#quizButton Quiz
    script(src='javascripts/client.js')
  .main
    script(src='javascripts/client.js')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAsUd8gZ2A5gLVVAeKRkWtniR3NL6eseL4&callback=initMap', <='', script='')
  .map
    #map